<div class="alert alert-danger text-center alert-dismissible d-none" id="alert">
  <strong id="alert-text"></strong>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>