<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>HR Managing - Express</title>
    <link
      rel="stylesheet"
      href="/bootstrap/css/bootstrap.min.css"
      type="text/css"
    />
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
  </head>
  <body>
     {{> header }}
    {{{body}}}
  </body>
</html>